---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Red Ruby Cleaning Co. — Cambridge cleaning tips &amp; advice</title>
  <subtitle>Guides for Airbnb hosts and short-let property owners in Cambridge, UK.</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/blog/"/>
  <id>{{ site.url }}/blog/</id>
  <updated>{% if collections.posts.length %}{{ collections.posts[0].date | atomDate }}{% else %}{{ site.buildDate }}T00:00:00.000Z{% endif %}</updated>
  <author>
    <name>Red Ruby Cleaning Co.</name>
    <email>mark.j.blackwell@gmail.com</email>
  </author>
{%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title | escape }}</title>
    <link href="{{ site.url }}{{ post.url | url }}" rel="alternate" type="text/html"/>
    <id>{{ site.url }}{{ post.url | url }}</id>
    <updated>{{ post.date | atomDate }}</updated>
    <summary type="text">{{ (post.data.excerpt | default(post.data.title)) | escape }}</summary>
  </entry>
{%- endfor %}
</feed>
