---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for path in site.staticPaths %}
  <url>
    <loc>{{ site.url }}{{ path }}</loc>
    <lastmod>{{ site.buildDate }}</lastmod>
  </url>
{%- endfor %}
{%- set postCount = collections.posts | length %}
{%- set numBlogPages = postCount | blogPageCount(site.blogPageSize) %}
{%- for n in numBlogPages | rangeFromOne %}
  <url>
    <loc>{% if n == 1 %}{{ site.url }}/blog/{% else %}{{ site.url }}/blog/page/{{ n }}/{% endif %}</loc>
    <lastmod>{{ site.buildDate }}</lastmod>
  </url>
{%- endfor %}
{%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url | url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
{%- endfor %}
</urlset>
